<div class="hero-author-item">
                        {{#if profile_image}}
                            <img class="hero-author-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                        {{/if}}
                        <div class="hero-author-info">
                            <span class="hero-author-name">{{name}}</span>
                            <div class="hero-author-meta">
                                {{#if location}}
                                    <span class="hero-author-location">{{location}}</span>
                                {{/if}}
                                {{#if website}}
                                    {{#if location}}&sol;{{/if}}
                                    <a href="{{website}}" target="_blank" rel="noopener noreferrer" class="hero-author-website">
                                        <svg class="gh-author-icon" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path></svg>
                                    </a>
                                {{/if}}
                                {{#social_accounts this}}
  <a href="{{href}}" aria-label="{{name}}">
    <span class="icon icon-{{type}}">{{name}}</span>
  </a>
{{/social_accounts}}
                                
                            </div>
                        </div>
                    </div>
