{{!< default}}

{{#contentFor "body_class"}}resources-template{{/contentFor}}

{{#post}}
<main class="gh-main gh-outer {{slug}}">
    <div class="gh-content gh-canvas">
        <div class="gh-resources-hero">
        {{> "post-tags"}}
            <h1>{{title}}</h1>
            {{#if custom_excerpt}}
                <p>{{custom_excerpt}}</p>
            {{/if}}
        </div>
        <div class="gh-author">
            {{#if primary_author}}
            <h2>{{t "Kontak Pers"}}</h2>
            <p class="gh-author-name">{{primary_author.name}}</p>
            <p class="gh-author-meta">
                {{primary_author.location}}
                {{#if primary_author.website}}
                &sol; <a href="{{primary_author.website}}" target="_blank" rel="noopener noreferrer"><svg class="gh-author-icon" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path></svg></a>
                {{/if}}
            </p>
            {{/if}}
        </div>
        <aside class="gh-sidebar"><div class="gh-toc"></div></aside>
        {{content}}
    </div>
</main>
{{/post}}

{{> "tocbot"}}
