{{!< default}}

{{#contentFor "head"}}
<style>
.gh-feed {
    width: 100%;
    max-width: 720px;
}
.gh-postfeed {
    justify-items: center;
}
</style>
{{/contentFor}}

<main class="gh-main">
    {{#post}}
        <header class="gh-tag-head tag-{{slug}}" style="--color-tag: {{#if accent_color}}{{accent_color}}{{else}}#f2eff3{{/if}}; --accent-soft: {{color_to_rgba accent_color}};">
            <div class="gh-container">
                <div class="gh-tag-head-content">
                    {{#if feature_image}}
                        <img class="gh-tag-head-img"
                            srcset="{{img_url feature_image size="s"}} 300w,
                                    {{img_url feature_image size="m"}} 720w,
                                    {{img_url feature_image size="l"}} 960w,
                                    {{img_url feature_image size="xl"}} 1200w,
                                    {{img_url feature_image size="xxl"}} 2000w"
                            sizes="(max-width: 1200px) 100vw, 1200px"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                        />
                    {{/if}}
                    <div>
                        <h1>{{title}}</h1>
                        {{#if custom_excerpt}}
                            <p>{{custom_excerpt}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </header>
    {{/post}}

    <div class="gh-page">
        <div class="gh-container">
            {{!-- Featured posts --}}
            <div class="gh-featuredposts">
                {{#foreach posts limit="3"}}
                    {{#if featured}}
                        {{> featured-post }}
                    {{/if}}
                {{/foreach}}
            </div>

            {{#get "posts" limit="5" include="tags,authors"}}
                <div class="gh-postfeed">
                    <div class="gh-feed">
                        {{#foreach posts}}
                            {{> loop-zebra }}
                        {{/foreach}}
                    </div>
                </div>
            {{/get}}
        </div>
    </div>

</main>
