{{!< default}}

{{#contentFor "head"}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=STIX+Two+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<style>
.gh-feed {
    width: 100%;
    max-width: 720px;
}
.gh-postfeed {
    justify-items: center;
}
</style>
{{/contentFor}}

<main class="gh-main">

    {{#tag}}
    <header class="gh-tag-head tag-{{slug}}" style="--color-tag: {{#if accent_color}}{{accent_color}}{{else}}#3eb0ef{{/if}};">
        <div class="gh-container">
            <div class="gh-tag-head-content">
                {{#if feature_image}}
                <img class="gh-tag-head-img" src="{{feature_image}}" alt="{{name}}" />
                {{/if}}
                <div>
                    <h1>{{name}}</h1>
                    {{#if description}}
                    <p>{{description}}</p>
                    {{/if}}
                    <span>
                        <span>{{plural ../pagination.total empty="No posts" singular="% post" plural="% posts"}}</span>
                        <a href="{{@site.url}}/resources/">{{t "More resources"}} &rarr;</a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    {{/tag}}

    <div class="gh-page">
        <div class="gh-container">
            {{!-- Featured posts --}}
            <div class="gh-featuredposts">
                {{#foreach posts  limit="3"}}
                    {{#if featured}}
                    {{> featured-post }}
                    {{/if}}
                {{/foreach}}
            </div>

            {{!-- Post feed + infinity scroll --}}
            <div class="gh-postfeed">
                <div class="gh-feed">
                    {{#foreach posts}}
                    {{#unless featured}}
                    {{> loop-zebra }}
                    {{/unless}}
                    {{/foreach}}
                </div>
            </div>

            {{#match pagination.pages ">" 1}}
            <nav class="pagination" role="navigation" aria-label="Pagination">
                {{#if next}}
                <a class="older-posts" href="{{page_url next}}">{{t "Older Posts"}} &rarr;</a>
                {{/if}}
            </nav>
            {{/match}}

        </div>
    </div>

</main>
